/* universal page styling */

html {
    height:100vh;
    background-color: #12332e;
    border: 5px solid rgb(160, 160, 160);
}

.mainPage {
    background-color: #12332e;
    padding: 10px;
    height:100%;
}

/* navbar styling */

.navbar {
    background-color: #788b4b;
    border: 3px solid #2c331c;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding: 10px 10px
}

.navbar button {
    width: 110px;
    height: 55px;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid #000000be;
    transition: border .10s;
}

.navbar button:hover {
    background-color: #97acb4;
    border: 4px dotted #2DC653;
}