/***************************** universal page styling *****************************/

html {
    height: 100vh;
    background-color: #12332e;
    border: 5px solid rgb(160, 160, 160);
}

.mainPage {
    background-color: #12332e;
    padding: 10px;
    height: 100%;
}

/***************************** navbar styling *****************************/

.navbar {
    background-color: #788b4b;
    border: 3px solid #2c331c;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding: 10px 10px;
}

.navbar button {
    width: 90px;
    height: 55px;
    padding: 5px;
    border-radius: 8px;
    border: 2px solid #000000be;
    transition: border 0.1s;
}

.navbar button:hover {
    background-color: #97acb4;
    border: 4px dotted #2dc653;
}

/***************************** homepage styling *****************************/

.homepage {
    border: 2px solid #091a17;
    background-color: #236359;
    margin-top: 35px;
    height: 450px;
    overflow-y: auto;
    width: 75%;
    justify-self: center;
    padding-left: 10px;
    padding-right: 10px;
}

/***************************** calendar styling *****************************/

.calendar {
    border: 2px solid #091a17;
    background-color: #236359;
    margin-top: 35px;
    height: 450px;
    overflow-y: auto;
    width: 75%;
    justify-self: center;
    justify-items: center;
    padding: 5px;
}

.calendar .header {
    border-bottom: 3px solid #2dc653;
    width: 100%;
    height: 65px;
    justify-items: center;
    align-content: space-evenly;
}

.calendar .body {
    /* margin-top: 100px; */
    align-content: center;
}

th {
    border: 2px solid #e9e50a77;
    background-color: #18423c;
    height: 40px;
    width: 90px;
    color: #a6d381;
}
td {
    border: 2px solid #058625;
    background-color: #379789;
    height: 40px;
    width: 90px;
    transition: border 0.1s;
}

td:hover {
    border: 2px dotted #2ed658;
}

td button {
    background-color: #37978985;
    width: 100%;
    height: 100%;
    transition: "background-color" 0.1s, border 0.1s;
}

td button:active {
    background-color: #1e5048d7;
    border: 3px solid #581a68;
}

/***************************** Your Exercises styling *****************************/

.display {
    border: 2px solid #091a17;
    background-color: #236359;
    margin-top: 35px;
    height: 450px;
    width: 90%;
    justify-self: center;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 5px;
}

.exerciseInfo {
    align-self: center;
}

.exerciseSearch {
    align-self: flex-start;
}

.editOptions {
    align-self: center;
}
